@model IEnumerable<ShoppingCart.application.ViewModels.ProductViewModels>


@{
    ViewData["Title"] = "Index";
}

<h1>Products Cataluge</h1>

<div class="container">
    <div class="row">

        @foreach (var p in Model)
        { 
            <div class="col-4">
                <div class="card" style="width: 18rem;" >
                    <img src="@p.ImageUrl" class="card-img-top" style="height: 25rem" />
                    <div class="card-body">
                        <h5 class="card-title">@p.Name</h5>
                        <p class="card-text">@p.Price</p>
                        <a href="/Products/Details?id=@p.id" class="btn btn-primary">View Specification</a>

                        @if (User.IsInRole("Admin"))
                        {
                            <a href="/Products/Delete?id=@p.id" class="btn btn-danger">Delete</a>
                        }




                    </div>
                </div>
            </div> 
        }
    </div>
</div>
